body {
    background: transparent;
    margin: 0px;
    padding:0px;
    font-family: 'MuseoModerno', cursive;
}

h1,h2,h3, h4 {
  font-weight: 800;
  font-size: 16px;
  margin: 0px;
  padding:0px;
}
h1{
  color:#e1e8f0;
  font-size:20px;  
}
h2{
  color:#6ed3cf;
}
h3{
  color:#e1e8f0;
}
h4{
  font-size:40px;
  margin-right:20px;
  margin-top:-12px;
  color:#e1e8f0
}
h3{
  text-decoration: overline;
  margin-top:10px
  margin-bottom:10px;
}
.cell{
  clear:left;
  margin:10px;
}


.float-left{
  float:left;
}

#queue-wrapper {
    width: 480px;
    background: none;
}

.requestedBy {
    font-weight: 800;
}

.artist {
    font-weight: 800;
}

.title {
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 16px;
}

.caps {
    text-transform: uppercase;
}

.more {
    font-weight: bold;
    text-align: right;
    color:#e1e8f0;
    margin-left: 50px;
}

.queueEmpty{
   color:white;
   text-align: center;
   margin: auto;
   padding: 50px;
   font-size: 30px;
}